<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos/estilos.css">
    <link rel="stylesheet" href="estilos/estilos_conferencia.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="portada-imagen">
            <button type="button" class="btn btn-warning boton_portada">Deseo participar de la conferencia</button>
        </div>    
        <p class="h2 text-center mt-4 sep_lin_3 let_space_1">OOPSLA 2021: ACM SIGPLAN INternationa COnference on Object-Oriented-Programming, Systems, Languages, and Applications</p>
        
        <h2 class="let_space_1 mt-5"><u>Informacion de Conferencia:</u></h2>
    
    
        
    </div>
    <div class="contenedor_info_con_1">
        <div class="informacion_conferencia_1">
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Fecha límite de inscripción:</strong><span>Viernes 13 de Agosto</span></p>
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Días de la conferencia:</strong><span>Viernes 13 de Agosto</span></p>
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Dirección:</strong><span>Viernes 13 de Agosto</span></p>
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Enlace:</strong><span>Viernes 13 de Agosto</span></p>
            
        </div>
        
    </div>
    <div class="contenedor_info_con_2">
        <div class="informacion_conferencia_1">
            <p class="mar_b_0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque officia hic, corrupti odio consequuntur alias cum fuga dignissimos quidem tempora placeat quam iste aut illum architecto nesciunt accusantium! Nam voluptatem, molestiae beatae et rerum voluptas reiciendis quas quam, cum, earum magnam consequatur fugit sint! Tempore nihil quos quas reprehenderit quia consectetur, aspernatur sint eligendi! Laudantium, corrupti veritatis fugit id rem praesentium? Laboriosam soluta vero eius corrupti consequuntur expedita dolorum ut at, necessitatibus sint unde dolorem distinctio dolor, similique voluptatum maiores.</p>
            
        </div>
    </div>
    
</body>
</html>