<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos/estilos.css">
    <link rel="stylesheet" href="estilos/estilos_conferencia.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="portada-imagen">
            <button type="button" class="btn btn-warning boton_portada">Deseo participar de la conferencia</button>
        </div>    
        <p class="h2 text-center mt-4 sep_lin_3 let_space_1"><strong>OOPSLA 2021:</strong>ACM SIGPLAN International Conference on Object-Oriented-Programming, Systems, Languages, and Applications</p>
        
        <h2 class="let_space_1 mt-5"><u>Informacion de Conferencia:</u></h2>
    
    
        
    </div>
    <div class="contenedor_info_con_1">
        <div class="informacion_conferencia_1">
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Fecha límite de inscripción:</strong><span>Viernes 13 de Agosto</span></p>
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Días de la conferencia:</strong><span>Oct 17,2021 - Oct 22,2021</span></p>
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Dirección:</strong><span>Chicago, United States</span></p>
            <p class="mar_b_0"><strong style="margin-right:0.5rem">Enlace de conferencia:</strong><a>https://2021.splashcon.org/track/splash-2021-oopsla</a></p>
            
        </div>
        
    </div>
    <div class="contenedor_info_con_2">
        <div class="informacion_conferencia_1">
            <p class="mar_b_0">PACMPL Issue OOPSLA 2021 seeks contributions on all aspects of programming languages and software engineering. Authors of papers published in PACMPL Issue OOPSLA 2021 will present their work in the OOPSLA track of the SPLASH virtual conference in November.

                Papers may target any stage of software development, including requirements, modeling, prototyping, design, implementation, generation, analysis, verification, testing, evaluation, maintenance, and reuse of software systems. Contributions may include the development of new tools (such as language front-ends, program analyses, and runtime systems), new techniques (such as methodologies, design processes, and code organization approaches), new principles (such as formalisms, proofs, models, and paradigms), and new evaluations (such as experiments, corpora analyses, user studies, and surveys).</p>
            
        </div>
    </div>
    
</body>
</html>