<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos/estilos.css">
    <title>Document</title>
</head>
<body>
    

    <div class="container my-5 bg-e3e3e3 rounded rounded-lg shadow p-3" id="container_cards">
        <!-- CARTAS INICIO -->
        <div class="row">
            <!-- <div class="col-12 col-sm-6 col-lg-3 mb-3" id="container">
                <div class="card">
                    <img src="https://picsum.photos/300/160?grayscale" class="crop-image-course card-img-top rounded-0" alt="##" >
                    <div class="card-body">
                        <p style="text-align:right" class="mar_b_1"><strong>Oct 17,2021- Oct 22, 2021</strong></p> 
                        <h5 class="card-title line-clamp-2 mar_b_0">Lorem ipsum dolor sit amet.</h5>
                        <p class="card-text line-clamp-3 sep_lin mar_b_1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, fugiat. Accusamus veritatis nisi similique beatae totam, voluptatem blanditiis, numquam esse itaque facere quae nam magnam.
                        </p>
                        <p style="text-align:right " class="mar_b_0">Chicago, United States</p> 
                    </div>
                </div>
            </div> -->
        </div>
        <!-- CARTAS FIN -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>